@charset "UTF-8";

body {
	height: 100%;
	margin: 0;
}

.m-flex-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.m--container {
	flex: 1;
}
.form--container {
	max-width: 400px;
	margin: 0 auto;
	width: 100%;
}

